@use 'styles/variables.module' as *;
@use 'styles/functions.module' as *;
@use 'styles/mixins.module' as *;

.ninjaCard {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    border: 1px solid $gunmetal-gray;
    background-color: $white;

    .headerCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $gunmetal-gray;

        .ninjaName {
            font-size: toRem(22px);
            font-weight: 900;

            @include ellipsis($max-width: toRem(240px));
        }
    }

    .listItems {
        li {
            color: $gray;
            padding-bottom: toRem(12px);

            span {
                color: #000;
            }
        }
    }
}
