@use 'styles/variables.module' as *;
@use 'styles/functions.module' as *;

.nav {
  display: flex;
  align-items: center;
  min-height: toRem(58px);
  margin: 10px auto 80px;
  padding: toRem(10px, 16px);
  border-bottom: 1px solid $main-border;

   a {
    margin-left: toRem(14px);

    &:first-child {
      margin-left: 0;
    }
  }

  .logo {
    margin-right: auto;
    cursor: pointer;
    display: flex;
  }
}

