@use 'styles/variables.module' as *;
@use 'styles/functions.module' as *;

.nav {
    display: flex;
    align-items: center;
    max-height: toRem(62px);
}

.homeTitle {
    color: #333;
    padding: toRem(20px);
    text-align: center;
    font-size: toRem(144px);
    font-weight: 600;
}

.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
}
