@use 'styles/variables.module' as *;

body {
    background: $common-background;
    color: $common-font;
    font-family: $nunito;

    a {
        color: $common-font;
        text-decoration: none;
    }
}
