@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

$white: #fff;
$sea-salt: #faf9f9;
$platinum: #f1f3f3;
$dark-platinum: #ddd;
$thistle-rose: #eacbf1;
$powder-blue: #b1c6e1;
$gray: #777;
$jet-gray: #333;
$gunmetal-gray: #272d2d;
$emerald-green: #23cf98;
$deep-sky-blue: #4aa7ff;
$indian-red: #e0595f;
$fire-engine-red: #c8232a;

//backgrounds
$common-background: $platinum;

// font-colors
$common-font: $jet-gray;
$footer-font: $gray;

// fonts
$nunito: sans-serif, 'Nunito';

// borders
$main-border: $dark-platinum;
