@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

$powder-blue: #B1C6E1;
$thistle-rose: #EACBF1;
$emerald-green: #23CF98;
$deep-sky-blue: #4AA7FF;
$white: #fff;
$platinum: #f1f3f3;
$dark-platinum: #ddd;
$gray: #777;
$jet-gray: #333;
$gunmetal-gray: #272d2d;

//backgrounds
$common-background: $platinum;

// font-colors
$common-font: $jet-gray;
$footer-font: $gray;

// fonts
$nunito: sans-serif, "Nunito";

// borders
$main-border: $dark-platinum;

